<!DOCTYPE html>
<html>
  <head></head>
  <body>
    <h1>Welcome to URL shortener!</h1>
    <form ACTION='/shorten' method='POST' id = "theform" >
      <input type="text" name="url" placeholder="Input url here..." />
      <input type="submit" value="Submit">   
    </form> 
    <p id = "display">The shortened url for your url is : {{shorten_url}}</p>
  </body>
 <script>
  //  function onsubmit(e){
  //   //  e.preventDefault();
  //    display.hidden=false
  //   }
  //    theform.addEventListener("submit", onsubmit)
  </script>
  </html>
</html>
